[Desktop Entry]
Version=1.0
Type=Application
Name=Amiberry DMX
Comment=Amiga emulator
Icon=/home/pi/Amiga/data/amiberry-logo.png
Exec=/home/pi/Amiga/amiberry
Path=/home/pi/Amiga/
