[Desktop Entry]
Name=KickPi-OS Config
Exec=m
Icon=/opt/KickPi-OS/config/KickPi-OS.png
Terminal=true
Type=Application
Keywords=file manager;console;
Categories=Settings;DesktopSettings;
Comment=
Path=
StartupNotify=false
