[Desktop Entry]
Name=Pimiga
Exec=ClassicWB-ADVSP
Icon=/home/pi/Amiga/data/amiberry.png
Terminal=true
Type=Application
Categories=ConsoleOnly;Utility;FileManager;System;FileTools;
Keywords=file manager;console;
